<form  action='/play/<%= @deck.id  %>/<%= @round.id %>/<%= @card_id %>' method='post'>
  <br>
  <input id="answer_field" placeholder="Enter your answer" type="text" name="answer">
  <input id="answer_button" type="submit">
</form>
