                                         <!-- ?????? -->
<form action='/play/<%= @deck.id  %>/<%= @round.id %>/<%= @card_id %>' method='post'>
  <br>
  <input type="text" name="answer">
  <input type="submit" value='answer'>
</form>
