<div class="wrapper">
  <div class="container">
    <% if @errors %>
    <% @errors.each do |error| %>
      <p class="errors"><%= error %></p>
    <% end %>
    <% end %>

    <form id="login" action="/user/create" method="POST">
      <div class="controls">
        <input id="name" name="user[name]" placeholder="First name" type="text" value="<%= @user.try(:name) %>">
      </div>

      <div class="controls">
        <input id="email" name="user[email]" placeholder="Email address" type="text" value="<%= @user.try(:email) %>">
      </div>

      <div class="controls">
        <input id="password" name="user[password]" placeholder="Password" type="password">
      </div>

      <div class="controls">
        <input id="password_confirmation" name="user[password_confirmation]" placeholder="Password confirmation" type="password">
      </div>

      <div class="the_sub">
        <input class="btn btn-default btn-block" type="submit" value="Register">
      </div>
    </form>
  </div>
</div>
